.display {
    font-size: 2rem;
    width: 100%;
    text-align: right;
}
.btn {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(143, 150, 156);
}

.eq:hover {
    background-color: bisque;
}